In [771]:
import numpy as np
import pandas as pd

# Load Dataset

In [772]:
df=pd.read_csv("D:\Machine_Learning\churn.csv")

In [773]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Data Preprocessing

In [774]:
df.shape

(7043, 21)

In [775]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

# Keeping Important Columns
    columns_to_keep=['gender','SeniorCitizen','Partner','Dependents','tenure','PhoneService','MultipleLines','TechSupport','Contract','MonthlyCharges','TotalCharges','Churn']

In [776]:
columns_to_keep=['gender','SeniorCitizen','Partner','Dependents','tenure','PhoneService','MultipleLines','TechSupport','Contract','MonthlyCharges','TotalCharges','Churn']
df=df[columns_to_keep]

In [777]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,TechSupport,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,Yes,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,Month-to-month,70.70,151.65,Yes

# Encode binary variables (e.g., Yes/No Columns)
    binary_columns=['gender','Partner','Dependents','PhoneService',....,'Churn']

In [778]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
categorical_cols=['gender','Partner','Dependents','PhoneService','MultipleLines','TechSupport','Contract','Churn']
for col in categorical_cols:
    df[col]=label_encoder.fit_transform(df[col])

In [779]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,TechSupport,Contract,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,29.85,29.85,0
1,1,0,0,0,34,1,0,0,1,56.95,1889.5,0
2,1,0,0,0,2,1,0,0,0,53.85,108.15,1
3,1,0,0,0,45,0,1,2,1,42.30,1840.75,0
4,0,0,0,0,2,1,0,0,0,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,2,1,84.80,1990.5,0
7039,0,0,1,1,72,1,2,0,1,103.20,7362.9,0
7040,0,0,1,1,11,0,1,0,0,29.60,346.45,0
7041,1,1,1,0,4,1,2,0,0,74.40,306.6,1
7042,1,0,0,0,66,1,0,2,2,105.65,6844.5,0

# Other technique of encoding

In [780]:
#binary_columns=['Partner','Dependents','PhoneService','Churn']
#df[binary_columns]=df[binary_columns].replace({'Yes':1, 'No':0})

In [781]:
#df[['MultipleLines','Contract']]=df[['MultipleLines','Contract']].replace({'Yes':1,'No':0,'No phone service':2,'Month-to-month':1,'One year':2,'Two year':3})

In [782]:
#df['gender']=df['gender'].replace({'Male':1,'Female':0})

In [783]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,TechSupport,Contract,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,29.85,29.85,0
1,1,0,0,0,34,1,0,0,1,56.95,1889.5,0
2,1,0,0,0,2,1,0,0,0,53.85,108.15,1
3,1,0,0,0,45,0,1,2,1,42.30,1840.75,0
4,0,0,0,0,2,1,0,0,0,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,2,1,84.80,1990.5,0
7039,0,0,1,1,72,1,2,0,1,103.20,7362.9,0
7040,0,0,1,1,11,0,1,0,0,29.60,346.45,0
7041,1,1,1,0,4,1,2,0,0,74.40,306.6,1
7042,1,0,0,0,66,1,0,2,2,105.65,6844.5,0

So we can use either of the above two methods for encoding variables
for the second method we need to find the value_count of each column using below one liner code and then encode the variables accordingly

In [784]:
df['MultipleLines'].value_counts()

0    3390
2    2971
1     682
Name: MultipleLines, dtype: int64

# Split the dataset into training and testing sets

In [785]:
x=df.drop('Churn',axis=1)

In [786]:
y=df['Churn']

In [787]:
from sklearn.model_selection import train_test_split

In [788]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [789]:
x_train.shape

(5282, 11)

In [790]:
x_test.shape

(1761, 11)

In [791]:
y_train.shape

(5282,)

In [792]:
y_test.shape

(1761,)

In [793]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5282 entries, 6607 to 860
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          5282 non-null   int32
 1   SeniorCitizen   5282 non-null   int64
 2   Partner         5282 non-null   int32
 3   Dependents      5282 non-null   int32
 4   tenure          5282 non-null   int64
 5   PhoneService    5282 non-null   int32
 6   MultipleLines   5282 non-null   int32
 7   TechSupport     5282 non-null   int32
 8   Contract        5282 non-null   int32
 9   MonthlyCharges  5282 non-null   float64
 10  TotalCharges    5282 non-null   object
dtypes: float64(1), int32(7), int64(2), object(1)
memory usage: 350.8+ KB

Since TotalCharges is in object datatype so we need to convert in numeric

In [794]:
x_train['TotalCharges']=pd.to_numeric(x_train['TotalCharges'],errors='coerce')
x_test['TotalCharges']=pd.to_numeric(x_test['TotalCharges'],errors='coerce')
x_train['MonthlyCharges']=pd.to_numeric(x_train['MonthlyCharges'],errors='coerce')
x_test['MonthlyCharges']=pd.to_numeric(x_test['MonthlyCharges'],errors='coerce')

In [795]:
x_train.isnull().sum()

gender            0
SeniorCitizen     0
Partner           0
Dependents        0
tenure            0
PhoneService      0
MultipleLines     0
TechSupport       0
Contract          0
MonthlyCharges    0
TotalCharges      8
dtype: int64

In [796]:
x_train['TotalCharges'].fillna(x_train['TotalCharges'].median(),inplace=True)
x_test['TotalCharges'].fillna(x_test['TotalCharges'].median(),inplace=True)

In [797]:
x_train.isnull().sum()

gender            0
SeniorCitizen     0
Partner           0
Dependents        0
tenure            0
PhoneService      0
MultipleLines     0
TechSupport       0
Contract          0
MonthlyCharges    0
TotalCharges      0
dtype: int64

# Standardize features (optional but beneficial for logistic regression)

In [798]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [799]:
x_train

array([[ 0.97309929, -0.43609145, -0.96941854, ..., -0.83139487,
        -1.31004561, -0.99865392],
       [-1.02764436, -0.43609145, -0.96941854, ..., -0.83139487,
         0.34483164, -0.7782385 ],
       [-1.02764436, -0.43609145, -0.96941854, ..., -0.83139487,
        -1.48433058, -0.97209997],
       ...,
       [ 0.97309929, -0.43609145,  1.03154619, ..., -0.83139487,
        -1.44781373, -0.87481636],
       [ 0.97309929,  2.293097  , -0.96941854, ..., -0.83139487,
         1.15152206, -0.48043288],
       [ 0.97309929, -0.43609145, -0.96941854, ...,  0.37107712,
        -1.49262986, -0.80810066]])

In [800]:
x_train.shape

(5282, 11)

In [801]:
#x_train_scaled=pd.DataFrame(data=x_train, columns=x.columns)

In [802]:
#x_train_scaled

# Logistic Regression

In [803]:
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression()
lg.fit(x_train,y_train)
y_pred=lg.predict(x_test)

In [804]:
y_pred

array([1, 0, 0, ..., 0, 1, 0])

# Accuracy Score

In [805]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8057921635434412

# Save Model

In [806]:
import pickle
pickle.dump((lg, scaler), open('logistic_Churn.pkl','wb'))

In [807]:
print("Input shape:", df.shape)
print(df)

Input shape: (7043, 12)
      gender  SeniorCitizen  Partner  Dependents  tenure  PhoneService  \
0          0              0        1           0       1             0
1          1              0        0           0      34             1
2          1              0        0           0       2             1
3          1              0        0           0      45             0
4          0              0        0           0       2             1
...      ...            ...      ...         ...     ...           ...
7038       1              0        1           1      24             1
7039       0              0        1           1      72             1
7040       0              0        1           1      11             0
7041       1              1        1           0       4             1
7042       1              0        0           0      66             1

      MultipleLines  TechSupport  Contract  MonthlyCharges TotalCharges  Churn
0                 1            0         0           29.85        29.85      0
1                 0            0         1           56.95       1889.5      0
2                 0            0         0           53.85       108.15      1
3                 1            2         1           42.30      1840.75      0
4                 0            0         0           70.70       151.65      1
...             ...          ...       ...             ...          ...    ...
7038              2            2         1           84.80       1990.5      0
7039              2            0         1          103.20       7362.9      0
7040              1            0         0           29.60       346.45      0
7041              2            0         0           74.40        306.6      1
7042              0            2         2          105.65       6844.5      0

[7043 rows x 12 columns]

# Classification System

In [808]:
def prediction(gender, SeniorCitizen, Partner, Dependents, tenure,
               PhoneService, MultipleLines, TechSupport, Contract,
               MonthlyCharges, TotalCharges):

    df1 = pd.DataFrame([[
        gender, SeniorCitizen, Partner, Dependents, tenure,
        PhoneService, MultipleLines, TechSupport, Contract,
        MonthlyCharges, TotalCharges
    ]], columns=[
        'gender','SeniorCitizen','Partner','Dependents','tenure',
        'PhoneService','MultipleLines','TechSupport','Contract',
        'MonthlyCharges','TotalCharges'
    ])

    # Encode categorical columns ONLY (same as training)
    categorical_cols = [
        'gender','SeniorCitizen','Partner','Dependents',
        'PhoneService','MultipleLines','TechSupport','Contract'
    ]

    for col in categorical_cols:
        df1[col] = LabelEncoder().fit_transform(df1[col])

    # Convert numeric columns
    df1['tenure'] = pd.to_numeric(df1['tenure'])
    df1['MonthlyCharges'] = pd.to_numeric(df1['MonthlyCharges'])
    df1['TotalCharges'] = pd.to_numeric(df1['TotalCharges'])

    # Scale using TRAINED scaler (NO FIT)
    df1 = scaler.transform(df1)

    result = lg.predict(df1)
    return result[0]

In [809]:
gender = "Female"
Seniorcitizen = "No"
Partner = "Yes"
Dependents = "No"
tenure = 1
Phoneservice="No"
multiline = "No phone service"
techsupport= "No"
contract="Month-to-month"
monthlycharge= 29.85
totalcharge = 29.85
result = prediction(gender,Seniorcitizen,Partner,Dependents,tenure,Phoneservice,multiline,techsupport,contract,monthlycharge,totalcharge)

if result==0:
   print('Not Churn')
else:
   print('Churn')

Churn

In [810]:
X = df.drop('Churn', axis=1)

feature_names = X.columns
print(feature_names)

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'TechSupport', 'Contract',
       'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [811]:
print(lg.n_features_in_)

11

In [812]:
print(lg.n_features_in_)

11